Repository prgrms-be-devcourse/NBE4-5-1-Team08, pull requests merged in 2025-02, with the labels that each got.

#25 Feature/23
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/controller/ItemController.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/service/ItemService.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/exception/ServiceException.java
Labels: enhancement

#27 feat: Item 엔티티에 price 필드 추가
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/dto/ItemDto.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/dto/ItemForm.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/entity/Item.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/init/BaseInitData.java
Labels: enhancement

#37 Feature/15 item crud 관련 페이지
  backend/build.gradle
  backend/src/main/java/com/java/NBE4_5_1_8/global/entity/SecurityConfig.java
  backend/src/main/resources/application.example.yml
  frontend/app/admin/items/[id]/edit/page.tsx
  frontend/app/admin/items/new/page.tsx
  frontend/app/admin/items/page.tsx
  frontend/app/admin/login/page.tsx
  frontend/app/api/client.ts
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/Footer.tsx
  frontend/components/Header.tsx
  frontend/components/items/ItemForm.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/label.tsx
  frontend/components/ui/select.tsx
  frontend/components/ui/textarea.tsx
  frontend/lib/api/schema.ts
  frontend/lib/utils.ts
  frontend/package-lock.json
  frontend/package.json
Labels: feature, frontend

#44 Feature/41
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/controller/ApiV1ItemController.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/aspect/ResponseAspect.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/exception/ServiceException.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/response/RsData.java
Labels: enhancement, backend

#46 Enhancement/40
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/controller/ApiV1ItemController.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/orderinfo/controller/ApiV1OrderInfoController.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/orderinfo/service/OrderInfoService.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/aspect/ResponseAspect.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/exception/ServiceException.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/response/RsData.java
Labels: enhancement, backend

#48 fix: JPA 순환참조 문제 해결
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/service/ItemService.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/orderinfo/entity/OrderInfo.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/orderitem/entity/OrderItem.java
Labels: bugifx, backend

#52 Feature/45 성공 및 에러 메세지를 enum으로 관리
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/controller/ApiV1ItemController.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/service/ItemService.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/exception/ServiceException.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/message/ErrorMessage.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/message/MessageType.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/message/SuccessMessage.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/response/RsData.java
Labels: enhancement, backend

#67 Feature/47
  frontend/app/ClientHomePage.tsx
  frontend/app/admin/items/[id]/edit/page.tsx
  frontend/app/admin/items/page.tsx
  frontend/app/api/client.ts
  frontend/app/checkout/ClientCheckoutPage.tsx
  frontend/app/checkout/page.tsx
  frontend/app/favicon.ico
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/login/ClientLoginPage.tsx
  frontend/app/login/page.tsx
  frontend/app/orders/[orderId]/ClientOrdersPage.tsx
  frontend/app/orders/[orderId]/page.tsx
  frontend/app/orders/lookup/ClientOrderLookupPage.tsx
  frontend/app/orders/lookup/page.tsx
  frontend/app/page.tsx
  frontend/components.json
  frontend/components/Header.tsx
  frontend/components/items/ItemForm.tsx
  frontend/components/ui/dialog.tsx
  frontend/components/ui/form.tsx
  frontend/components/ui/sheet.tsx
  frontend/components/ui/table.tsx
  frontend/lib/api/schema.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
  frontend/tailwind.config.ts
  frontend/type/types.d.ts
Labels: feature, frontend

#69 Feature/62 웹으로 이미지 확인
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/service/ItemService.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/entity/SecurityConfig.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/entity/WebConfig.java
  backend/src/main/resources/static/items/default.png
  backend/src/main/resources/static/items/item1.png
Labels: feature, backend

#74 Feature/64
  backend/src/main/java/com/java/NBE4_5_1_8/Nbe4518Application.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/orderinfo/repository/OrderInfoRepository.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/orderinfo/service/OrderInfoService.java
  backend/src/main/resources/application.example.yml
Labels: backend, frontend

#75 Feature/72
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/controller/ApiV1CategoryController.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/dto/CategoryForm.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/entity/Category.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/entity/Item.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/repository/CategoryRepository.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/service/CategoryService.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/service/ItemService.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/entity/SecurityConfig.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/message/ErrorMessage.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/message/SuccessMessage.java
Labels: feature, backend

#85 Feature/81
  backend/src/main/java/com/java/NBE4_5_1_8/domain/orderinfo/service/OrderInfoService.java
Labels: feature, backend

#80 Feature/51 주문 내역이 있는 상품 삭제 시 예외 처리
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/controller/ApiV1ItemController.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/entity/Item.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/repository/ItemRepository.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/item/service/ItemService.java
  backend/src/main/java/com/java/NBE4_5_1_8/domain/orderinfo/repository/OrderItemRepository.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/message/ErrorMessage.java
Labels: feature, backend

#92 Feature/90 관리자 페이지 미흡한 부분 수정
  backend/src/main/java/com/java/NBE4_5_1_8/domain/orderinfo/controller/ApiV1OrderInfoController.java
  backend/src/main/java/com/java/NBE4_5_1_8/global/init/BaseInitData.java
  backend/src/main/resources/static/items/default.png
  backend/src/main/resources/static/items/item1.png
  backend/src/main/resources/static/items/item2.png
  backend/src/main/resources/static/items/item3.jpg
  backend/src/main/resources/static/items/item4.png
  frontend/app/admin/items/[id]/edit/page.tsx
  frontend/app/admin/items/new/page.tsx
  frontend/components/admin/Content.tsx
  frontend/components/admin/Dashboard.tsx
  frontend/components/admin/ItemForm.tsx
  frontend/components/admin/Sidebar.tsx
  frontend/components/items/ItemForm.tsx
  frontend/lib/api/schema.ts
Labels: enhancement, frontend
